<template>
  <<%= singular_table_name %>-form
    :form="form"
    class="bg-white max-w-3xl"
    @submit="submit"
  >
    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
      <loading-button
        :loading="sending"
        class="btn-indigo"
        type="submit"
      >
        Create <%= class_name %>
      </loading-button>
    </div>
  </<%= singular_table_name %>-form>
</template>

<script>
import LoadingButton from '@/Shared/LoadingButton'
import <%= class_name %>Form from './Form'

export default {
  components: {
    LoadingButton,
  <%= class_name %>Form,
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {},
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia.post(this.$routes.<%= plural_table_name %>(), this.form).then(() => {
        this.sending = false
        if (Object.keys(this.$page.errors).length === 0) {
          this.form = {}
          this.$emit('success')
        }
      })
    },
  },
}
</script>
