<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <%= controller_class_name %>
    </h1>
    <div class="mb-6 flex justify-between items-center">
      <search-filter
        v-model="form.filterrific.search_query"
        class="w-full max-w-md mr-4"
        @reset="reset"
      >
        <label
          class="block text-gray-800"
          for="trashed-filter"
        >Trashed:</label>
        <select
          id="trashed-filter"
          v-model="form.filterrific.with_trashed"
          class="mt-1 w-full form-select"
        >
          <option value="active" selected="selected">
            Active
          </option>
          <option value="with">
            With Trashed
          </option>
          <option value="only">
            Only Trashed
          </option>
        </select>
      </search-filter>

      <inertia-link
        class="btn-indigo"
        :href="$routes.new_<%= singular_table_name %>()"
      >
        <span>Create</span>
        <span class="hidden md:inline">New <%= class_name %></span>
      </inertia-link>

      <button
        class="btn-indigo"
        @click="modalNew = true"
      >
        <span>Create</span>
        <span class="hidden md:inline"><%= class_name %></span>
      </button>
      <modal
        :open="modalNew"
        title="Create <%= class_name %>"
        @close="modalNew = false"
      >
        <new-<%= singular_table_name %> @success="modalNew = false" />
      </modal>
    </div>
    <div class="bg-white rounded shadow overflow-x-auto">
      <table class="w-full whitespace-no-wrap">
        <thead>
          <tr class="text-left font-bold">
            <th class="px-6 pt-6 pb-4">
              Title
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="<%= singular_table_name %> in <%= plural_table_name %>.data"
            :key="<%= singular_table_name %>.id"
            class="hover:bg-gray-100 focus-within:bg-gray-100"
          >
            <td class="border-t">
              <inertia-link
                class="px-6 py-4 flex items-center focus:text-indigo-500"
                :href="$routes.edit_<%= singular_table_name %>(<%= singular_table_name %>.id)"
              >
                {{ <%= singular_table_name %>.title }}
                <icon
                  v-if="<%= singular_table_name %>.deleted_at"
                  name="trash"
                  class="flex-shrink-0 w-3 h-3 fill-gray-500 ml-2"
                />
              </inertia-link>
            </td>
            <td class="border-t w-px">
              <inertia-link
                class="px-4 flex items-center"
                :href="$routes.edit_<%= singular_table_name %>(<%= singular_table_name %>.id)"
                tabindex="-1"
                aria-label="Edit"
              >
                <icon
                  name="cheveron-right"
                  class="block w-6 h-6 fill-gray-500"
                />
              </inertia-link>
            </td>
          </tr>
          <tr v-if="<%= plural_table_name %>.data.length === 0">
            <td
              class="border-t px-6 py-4"
              colspan="4"
            >
              No <%= plural_table_name %> found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination :meta="<%= plural_table_name %>.meta" />
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import Layout from '@/Layouts/Main'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import pickBy from 'lodash/pickBy'
import SearchFilter from '@/Shared/SearchFilter'
import Modal from '@/Shared/Modal'
import New<%= class_name %> from '@/Pages/<%= controller_class_name %>/_New'
import throttle from 'lodash/throttle'

export default {
  metaInfo: { title: '<%= class_name %>' },
  layout: Layout,
  components: {
    Icon,
    Pagination,
    SearchFilter,
    Modal,
    New<%= class_name %>,
  },
  props: {
  <%= plural_table_name %>: {
      type: Object,
      required: true,
    },
    filters: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      form: {
        filterrific: {
          with_trashed: this.filters.with_trashed,
          search_query: this.filters.search_query,
        },
      },
      modalNew: false,
    }
  },
  watch: {
    form: {
      handler: throttle(function() {
        let query = pickBy(this.form)
        this.$inertia.replace(
          this.$routes.<%= plural_table_name %>(
            Object.keys(query).length ? query : { remember: 'forget' },
          ),
          {
            preserveState: true,
            preserveScroll: true,
            only: ['<%= plural_table_name %>'],
          },
        )
      }, 150),
      deep: true,
    },
  },
  methods: {
    reset() {
      // this.form.filterrific = mapValues(this.form.filterrific, () => null)
      this.form.filterrific.search_query = null
      this.form.filterrific.with_trashed = 'active'
    },
  },
}
</script>
