<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link
        class="text-indigo-400 hover:text-indigo-600"
        :href="$routes.<%= plural_table_name %>()"
      >
        <%= controller_class_name %>
      </inertia-link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="bg-white rounded shadow overflow-hidden max-w-3xl">
      <<%= singular_table_name %>-form
        :form="form"
        @submit="submit"
      >
        <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
          <loading-button
            :loading="sending"
            class="btn-indigo"
            type="submit"
          >
            Create <%= class_name %>
          </loading-button>
        </div>
      </<%= singular_table_name %>-form>
    </div>
  </div>
</template>

<script>
import Layout from '@/Layouts/Main'
import LoadingButton from '@/Shared/LoadingButton'
import <%= class_name %>Form from './Form'

export default {
  metaInfo: { title: 'Create <%= class_name %>' },
  layout: Layout,
  components: {
    LoadingButton,
  <%= class_name %>Form,
  },
  props: {
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: {},
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia
        .post(this.$routes.<%= plural_table_name %>(), this.form)
        .then(() => (this.sending = false))
    },
  },
}
</script>
