<template>
  <div>
    <h1 class="mb-8 font-bold text-3xl">
      <inertia-link
        class="text-indigo-500 hover:text-indigo-800"
        :href="$routes.<%= plural_table_name %>()"
      >
        <%= class_name %>
      </inertia-link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.title }}
    </h1>
    <trashed-message
      v-if="<%= singular_table_name %>.deleted_at"
      class="mb-6"
      @restore="restore"
    >
      This <%= singular_table_name %> has been deleted.
    </trashed-message>
    <div class="bg-white rounded shadow overflow-hidden max-w-3xl">
      <<%= singular_table_name %>-form
        :form="form"
        @submit="submit"
      >
        <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex items-center">
          <button
            v-if="!<%= singular_table_name %>.deleted_at"
            class="text-red-700 hover:underline"
            tabindex="-1"
            type="button"
            @click="destroy"
          >
            Delete <%= class_name %>
          </button>
          <loading-button
            :loading="sending"
            class="btn-indigo ml-auto"
            type="submit"
          >
            Update <%= class_name %>
          </loading-button>
        </div>
      </<%= singular_table_name %>-form>
    </div>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import Layout from '@/Layouts/Main'
import LoadingButton from '@/Shared/LoadingButton'
import <%= class_name %>Form from './Form'
import TrashedMessage from '@/Shared/TrashedMessage'
import _ from 'lodash'

export default {
  metaInfo() {
    return { title: this.form.name }
  },
  layout: Layout,
  components: {
    Icon,
    LoadingButton,
  <%= class_name %>Form,
    TrashedMessage,
  },
  props: {
  <%= singular_table_name %>: {
      type: Object,
      required: true,
    },
  },
  remember: 'form',
  data() {
    return {
      sending: false,
      form: _.omit(this.<%= singular_table_name %>, 'id', 'deleted_at'),
    }
  },
  methods: {
    submit() {
      this.sending = true
      this.$inertia
        .put(this.$routes.<%= singular_table_name %>(this.<%= singular_table_name %>.id), this.form)
        .then(() => (this.sending = false))
    },
    destroy() {
      if (confirm('Are you sure you want to delete this <%= singular_table_name %>?')) {
        this.$inertia.delete(this.$routes.<%= singular_table_name %>(this.<%= singular_table_name %>.id))
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this <%= singular_table_name %>?')) {
        this.$inertia.put(
          this.$routes.restore_<%= singular_table_name %>(this.<%= singular_table_name %>.id),
        )
      }
    },
  },
}
</script>
