<template>
  <form @submit.prevent="$emit('submit')">
    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
      <text-input
        v-model="form.title"
        :errors="$page.errors.title"
        class="pr-6 pb-8 w-full lg:w-1/2"
        label="Title"
      />
    </div>
    <slot />
  </form>
</template>

<script>
import TextInput from '@/Shared/TextInput'

export default {
  components: {
    TextInput,
  },
  props: {
    form: {
      type: Object,
      required: true,
    },
  },
}
</script>
